@tailwind base;
@tailwind components;
@tailwind utilities;

.fa-solid, .fas {
    line-height: 1.5rem;
}

#overlay {
    z-index: 100;
}
#sidebar {
    z-index: 200;
}

.bg-1 {
    background: #366035!important;
}
.color-1 {
    color: #366035!important;
}
.bg-2 {
    background: #477c46!important;
}
.color-2 {
    color: #477c46!important;
}
.bg-3 {
    background: #a5b57c!important;
}
.color-3 {
    color: #a5b57c!important;
}
.bg-4 {
    background: #72914b!important;
}
.color-4 {
    color: #72914b!important;
}
.bg-5 {
    background: #23271d!important;
}
.color-5 {
    color: #23271d!important;
}
.color-6 {
    color: #474f52;
}
.color-6:hover {
    color: #8c9a4b!important;
}

.category-menu {
    background-image: url(images/back1.png)!important;
    background-size: cover!important;
    top: 95%!important;
    min-height: 300px!important;
    padding: 30px!important;
}
.swiper-container {
    overflow: hidden;
    position: relative;
}
.swiper-slide {
    cursor: pointer;
}
.swiper-slide img {
    width: 100%;
    height: auto;
}
.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.swiper-button-next {
    right: 10px;
}
.swiper-button-prev {
    left: 10px;
}
.swiper-pagination {
    position: relative;
    text-align: center;
    margin-top: 10px;
}